# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
crash.log

# AWS CLI & kubectl binaries
awscliv2.zip
kubectl

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
.env
*.egg-info/

# Logs
*.log

# IDE files
.vscode/
.idea/
*.swp

